Package: zoneminder-ui-base
Source: zoneminder
Version: 1.29.0-trusty-20
Architecture: amd64
Maintainer: Isaac Connor <iconnor@connortechnology.com>
Installed-Size: 2631
Depends: zoneminder-core (= 1.29.0-trusty-20), libavcodec54 (>= 6:9.1-1) | libavcodec-extra-54 (>= 6:9.16), libavformat54 (>= 6:9.1-1), libavutil52 (>= 6:9.1-1), libc6 (>= 2.17), libcurl3 (>= 7.16.2), libgcc1 (>= 1:4.1.1), libgcrypt11 (>= 1.5.1), libgnutls-openssl27, libjpeg8 (>= 8c), libmysqlclient18 (>= 5.5.24+dfsg-1), libpcre3, libstdc++6 (>= 4.1.1), libswscale2 (>= 6:9.1-1), libvlc5 (>= 1.1.1), zlib1g (>= 1:1.1.4), debconf (>= 0.5) | debconf-2.0, debconf, apache2, libapache2-mod-php5 | libapache2-mod-fcgid, php5, php5-mysql | php5-mysqlnd
Section: web
Priority: optional
Description: Essential files for ZoneMinder's web user interface
 ZoneMinder is a video camera security and surveillance solution.
 .
 This package provides the essential web files and maintenance scripts to set up
 a basic web environment.
