Package: zoneminder
Version: 1.28.0-12
Architecture: armhf
Maintainer: Isaac Connor <iconnor@connortechnology.com>
Installed-Size: 8658
Depends: libavcodec54 (>= 6:9.1-1) | libavcodec-extra-54 (>= 6:9.14), libavdevice53 (>= 6:9.1-1), libavformat54 (>= 6:9.1-1), libavutil52 (>= 6:9.1-1), libbz2-1.0, libc6 (>= 2.13-28), libcurl3-gnutls (>= 7.16.2), libgcc1 (>= 1:4.4.0), libgcrypt11 (>= 1.4.5), libgnutls-openssl27, libgnutls26 (>= 2.12.17-0), libjpeg8 (>= 8c), libmysqlclient18 (>= 5.5.24+dfsg-1), libpcre3 (>= 8.10), libstdc++6 (>= 4.4.0), libswscale2 (>= 6:9.1-1), libvlc5 (>= 1.1.1), zlib1g (>= 1:1.1.4), perl, apache2 | httpd, libapache2-mod-php5 | libapache2-mod-fcgid | php5-fpm, php5, php5-mysql | php5-mysqlnd, libphp-serialization-perl, libdate-manip-perl, libmime-lite-perl, mariadb-client | mysql-client, libwww-perl, libarchive-tar-perl, libarchive-zip-perl, libdevice-serialport-perl, ffmpeg | libav-tools, rsyslog | system-log-daemon, libmodule-load-perl, libsys-mmap-perl, libjson-any-perl, netpbm, zip, libnet-sftp-foreign-perl, libio-pty-perl, libexpect-perl, libpolkit-gobject-1-0
Recommends: mysql-server | mariadb-server
Section: net
Priority: optional
Description: A video camera security and surveillance solution
 ZoneMinder is intended for use in single or multi-camera video security
 applications, including commercial or home CCTV, theft prevention and child
 or family member or home monitoring and other care scenarios. It
 supports capture, analysis, recording, and monitoring of video data coming
 from one or more video or network cameras attached to a Linux system.
 ZoneMinder also support web and semi-automatic control of Pan/Tilt/Zoom
 cameras using a variety of protocols. It is suitable for use as a home
 video security system and for commercial or professional video security
 and surveillance. It can also be integrated into a home automation system
 via X.10 or other protocols.
